<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
{% load i18n %}
{% load general_tags %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}{% endblock %} | Logram</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ style }}/design.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/style/pygmentize.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
	<link rel="alternate" type="application/rss+xml" title="Dernières nouvelles de Logram" href="/feeds/latestnews/" />
	<link rel="alternate" type="application/rss+xml" title="Derniers journaux de Logram" href="/feeds/latestjournal/" />
	<link rel="alternate" type="application/rss+xml" title="Dernières demandes de Logram" href="/feeds/latestask/" />
	<link rel="alternate" type="application/rss+xml" title="Derniers messages du forum Logram" href="/feeds/latestmsg/" />
	<link rel="alternate" type="application/rss+xml" title="Derniers Wiki crée" href="/feeds/latestwiki/" />
	<link rel="alternate" type="application/rss+xml" title="Derniers paquets disponibles" href="/feeds/latestpackages/" />
</head>
<body>
<div id="page">
    <div id="page_bis">
        <div id="contenu">
            <div id="header">
                <div id="header_gauche">
                    <div id="header_droite">
                        <div id="header_texte"></div>
                            <ul id="menu">
                                {% block speedbarre %}
                                    <li {% block Accueil %}{% endblock %}>
                                        <a href="/">
                                            <span class="gauche"></span><span class="middle">
                                            {% trans "Accueil" %}
                                            </span><span class="droite"></span>
                                        </a>
                                    </li>
                                    
                                    <li {% block Wiki %}{% endblock %}>
                                        <a href="wiki-discover.html">
                                            <span class="gauche"></span><span class="middle">
                                            {% trans "Découvrir Logram" %}
                                            </span><span class="droite"></span>
                                        </a>
                                    </li>
                                    
                                    <li {% block Forum %}{% endblock %}>
                                        <a href="forum.html">
                                            <span class="gauche"></span><span class="middle">
                                            {% trans "Forums" %}
                                            </span><span class="droite"></span>
                                        </a>
                                    </li>
                                    
                                    <li {% block Docs %}{% endblock %}>
                                        <a href="wiki.html">
                                            <span class="gauche"></span><span class="middle">
                                            {% trans "Documentation" %}
                                            </span><span class="droite"></span>
                                        </a>
                                    </li>
                                    
                                    <li {% block Devcorner %}{% endblock %}>
                                        <a href="devcorner.html">
                                            <span class="gauche"></span><span class="middle">
                                            {% trans "Développement" %}
                                            </span><span class="droite"></span>
                                        </a>
                                    </li>
                                    
                                    <li {% block Demandes %}{% endblock %}>
                                        <a href="demand-1.html">
                                            <span class="gauche"></span><span class="middle">
                                            {% trans "Demandes" %}
                                            </span><span class="droite"></span>
                                        </a>
                                    </li>
                                    
                                    <li {% block Downloads %}{% endblock %}>
                                        <a href="downloads.html">
                                            <span class="gauche"></span><span class="middle">
                                            {% trans "Téléchargements" %}
                                            </span><span class="droite"></span>
                                        </a>
                                    </li>
                                {% endblock %}
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div id="conteneur">
                    <div id="sidebar">
                        <form method="get" action="search-1.html">
                            <p style="text-align:center;">
			    <input type="text" name="q" style="width: 90%;" /> <input type="submit" name="submit" value="{% trans "Rechercher" %}"/>
                            </p>
                        </form>
                        
                        <div class="separateur"></div>
                        
                        <form method="post" action="/i18n/setlang/">
                            <p style="text-align: center;">
                                <select name="language">
                                    {% for lang in LANGUAGES %}
                                        <option value="{{ lang.0 }}">{% trans lang.1 %}</option>
                                    {% endfor %}
                                </select>
                                
                                <input type="submit" value="Ok" />
                            </p>
                        </form>
                        
                        <div class="separateur"></div>
                        
                        {% block menu %}
                        <h2>{% trans "Accueil" %}</h2>
                        
                        <ul>
                            <li><a href="wiki-discover.html">{% trans "Découvrir Logram" %}</a></li>
                            <li><a href="wiki-discover-specs.html">{% trans "Spécifications" %}</a></li>
                            <li><a href="wiki-discover-phylosophy.html">{% trans "Philosophie" %}</a></li>
                            <li><a href="wiki-discover-why.html">{% trans "Pourquoi Logram ?" %}</a></li>
			    <li><a href="downloads.html">{% trans "Télécharger Logram" %}</a></li>
                            <li><a href="http://webchat.freenode.net/?channels=logram-project">{% trans "Chat IRC" %}</a></li>
                        </ul>
                        
                        <div class="separateur"></div>
                        
                        {% endblock %}
                        
                        <h2>{% trans "Communauté" %}</h2>
                        
                        <ul>
                            <li><a href="user-2-1.html">{% trans "Les membres" %}</a></li>
                            <li><a href="user-3.html">{% trans "L'équipe" %}</a></li>
                            <li><a href="user-4-1.html">{% trans "En ligne" %} : {% onlines %}</a></li>
                        </ul>
                        
                        <div class="separateur"></div>
                        
                        {% if user.is_authenticated %}    
                            <h2>{% trans "Mon compte" %}</h2>
                            
                            <ul>
                                <li><a href="user-5.html">{% trans "Mes options" %}</a></li>
                                <li><a href="mp-1-1.html">{% trans "Mes messages" %} {% num_mps %}</a></li>
                                <li><a href="news-3.html">{% trans "Mes nouvelles" %}</a></li>
                                <li><a href="upload-1-0.html">{% trans "Envoi de fichiers" %}</a></li>
                                <li>&nbsp;</li>
                                <li><a href="logout-{{ user.id }}.html">{% trans "Déconnexion" %} <span style="font-size: 8px;">({{ user.username }})</span></a></li>
                            </ul>
                        {% else %}
                            <h2>{% trans "Visiteur" %}</h2>
                            
                            <ul>
                                <li><a href="login.html">{% trans "Se connecter" %}</a></li>
                                <li><a href="register.html">{% trans "S'enregistrer" %}</a></li>
                            </ul>
                        {% endif %}
            
                    </div>
                    
                    {% if messages %}
                        <div id="messages">
                            <ul>
                                {% for message in messages %}
                                    <li>{{ message|safe }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    
                    <div id="corps">
                        <div id="ariane">
                            {% trans "Vous êtes ici" %} ->
                            {% block FAriane %}
                                <a href="/">
                                    {% trans "Accueil" %}
                                </a>
                            {% endblock %}
                        </div>
						{% block body %}{% endblock %}
                    </div>
                    
                    <div id="footer">
                        {% blocktrans %}
                            La documentation de ce site est disponible sous <a href="http://creativecommons.org/licenses/by-sa/2.0/fr/">Creative Commons Attribution Même licence</a><br />
                            Les écrits des membres sur le forum sont leur propriété. En aucun cas le site de Logram ne
                            pourra être tenu responsable de leurs écrits.<br />
                            Contact : steckdenis at logram-project point org<br />
			    <span style="font-size: 0.9em;">Smileys du <a href="http://www.siteduzero.com">Site du zéro</a>, design par <a href="http://steven-lerouzic.1s.fr">Steven Le Rouzic</a>, <a href="wiki-oxyicons.html">certaines icônes</a> viennent du projet <a href="http://oxygen-icons.org">Oxygen</a> sous GPL, site réalisé grâce à <a href="http://djangoproject.org">Django</a></span>
                        {% endblocktrans %}
                        
                            <table>
                                <tr>
                                    <th colspan="2">
                                        {% trans "Nombre de requêtes :" %}
                                        {{ sql_queries|count }}
                                    </th>
                                </tr>
                                <tr>
                                    <th>{% trans "Requête" %}</th>
                                    <th>{% trans "Durée" %}</th>
                                </tr>
                                {% for query in sql_queries %}
                                    <tr>
                                        <td>{{ query.sql }}</td>
                                        <td>{{ query.time }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
