{% extends "global/base.html" %}
{% load i18n %}
{% load general_tags %}

{% block title %}{% trans "Accueil" %}{% endblock %}

{% block Accueil %}class="actif"{% endblock %}

{% block body %}
    <h1>{% trans "Distribution Linux Logram" %}</h1>
        
    <p>
        {% blocktrans %}
            Logram est un projet de distribution GNU/Linux dont le but est d'apporter un mouvement nouveau à l'écosystème libre, dans la mesure du possible. Pour cela, Logram est découpé en trois projets :
        {% endblocktrans %}
    </p>
    
    <ul>
        <li>
            {% blocktrans %}
                Un <strong><a href="wiki-portal-setup.html">gestionnaire de paquets</a></strong>, Setup, bâti à partir de rien et proposant des fonctionnalités avancées telles qu'un serveur de construction, le tag de fichiers, ou une résolution des dépendances avancées.
            {% endblocktrans %}
        </li>
        <li>
            {% blocktrans %}
                Un <strong><a href="wiki-portal-website.html">site web</a></strong>, portail communautaire et de développement, dont le but est de permettre aux développeurs et aux utilisateurs de se rencontrer. Vous êtes actuellement en train de le visiter.
            {% endblocktrans %}
        </li>
        <li>
            {% blocktrans %}
                Des <strong><a href="wiki-portal-packaging.html">paquets</a></strong>. Ce dernier point est à peine commencés (les autres sont quasiment finis). Les paquets Logram se baseront sur les outils Setup, et utiliseront des ressources libres méconnues, comme LLVM.
            {% endblocktrans %}
        </li>
    </ul>
        
    <div id="index_dblocks">
        <div id="index_discover">
            <h3>{% trans "Découvrir" %}</h3>
                
            <p>
                {% blocktrans %}
                    <a href="wiki-discover.html">Découvrez Logram</a>, ses projets, son avenir, ce qu'il propose déjà et ce à quoi il servira.
                {% endblocktrans %}
            </p>
        </div>
            
        <div id="index_test">
            <h3>{% trans "Tester" %}</h3>
                
            <p>
                {% blocktrans %}
                    <a href="downloads.html">Téléchargez des projets</a> et <a href="wiki-portal-testing.html">testez-les</a>. Vous pourrez juger par vous-même ce que Logram apporte.
                {% endblocktrans %}
            </p>
        </div>
            
        <div id="index_invloved">
            <h3>{% trans "Participer" %}</h3>
                
            <p>
                {% blocktrans %}
                    <a href="register.html">Enregistrez-vous</a>, puis <a href="forum.html">posez vos questions</a>, <a href="wiki.html">documentez-vous</a>, <a href="demand-1.html">proposez des idées</a>, voire même <a href="devcorner.html">participez</a> à l'élaboration du futur de Logram !
                {% endblocktrans %}
            </p>
        </div>
    </div>
    
    <div id="index_blocks">
        <div id="index_blocks_left">
            <div id="index_block_news">
                <h3>{% trans "Dernières nouvelles" %}</h3>
                
                <a href="/feeds/latestnews/" class="next_link">
                    <img src="{{ style }}/img/feed.png" alt="{% trans "Flux RSS" %}" />
                </a>
                
                <ul>
                    {% for news in latest_news %}
                        <li>
                            <a 
                                href="news-2-{{ news.id }}-1-{{ news.title|slugify }}.html" 
                                title="{% blocktrans with news.author.uname as uname and news.date_published|format_date:request as dt %}par {{ uname }} {{ dt }}{% endblocktrans %}">
                                    {{ news.title }}
                            </a>
                            <div class="index_block_header">
                                {{ news.intro }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                
                <a href="news-1-1-0-0.html" class="next_link">
                    <img src="{{ style }}/img/next.png" alt="{% trans "Plus..." %}" />
                </a>
            </div>
            
            <div id="index_block_message">
                <h3>{% trans "Derniers messages" %}</h3>
                
                <a href="/feeds/latestmsg/" class="next_link">
                    <img src="{{ style }}/img/feed.png" alt="{% trans "Flux RSS" %}" />
                </a>
                
                <ul>
                    {% for topic in latest_topics %}
                        <li>
                            <a
                                href="{{ topic|topic_url }}#r{{ topic.last_post.id }}"
                                title="{% trans "par" %} {{ topic.last_post.author.uname }} {{ topic.last_post.date_created|format_date:request }}">
                                    {{ topic.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                
                <a href="forum.html" class="next_link">
                    <img src="{{ style }}/img/next.png" alt="{% trans "Plus..." %}" />
                </a>
            </div>
            
            <div id="index_block_wiki">
                <h3>{% trans "Pages de documentation modifiées" %}</h3>
                
                <a href="/feeds/latestwiki/" class="next_link">
                    <img src="{{ style }}/img/feed.png" alt="{% trans "Flux RSS" %}" />
                </a>
                
                <ul>
                    {% for change in latest_wiki %}
                        <li>
                            <a
                                href="wiki-{{ change.page.slug }}.{{ change.page.lang }}.html"
                                title="{% trans "par" %} {% if change.author_user %}{{ change.author_user.uname }}{% else %}{{ change.author_ip }}{% endif %} {{ change.date|format_date:request }}">
                                    {{ change.page.title }}
                            </a>
                            <div class="index_block_header">
                                {{ change.comment }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                
                <a href="wiki.html" class="next_link">
                    <img src="{{ style }}/img/next.png" alt="{% trans "Plus..." %}" />
                </a>
            </div>
        </div>
            
        <div id="index_blocks_right">
            {% if poll %}
                <div id="index_block_poll">
                    <h3>{% trans "Sondage en cours" %}</h3>
                    
                    {% include "forum/viewpoll.html" %}
                </div>
            {% endif %}
            
            <div id="index_block_bugs">
                <h3>{% trans "Dernières demandes" %}</h3>
                
                <a href="/feeds/latestask/" class="next_link">
                    <img src="{{ style }}/img/feed.png" alt="{% trans "Flux RSS" %}" />
                </a>
                
                <ul>
                    {% for d in latest_demands %}
                        <li>
                            <a
                                href="demand-4-{{ d.id }}-1.html"
                                title="{{ d.created_at|format_date:request|capfirst }} {% trans "par" %} {{ d.reporter.uname }}">
                                    {{ d.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                
                <a href="demand-1.html" class="next_link">
                    <img src="{{ style }}/img/next.png" alt="{% trans "Plus..." %}" />
                </a>
            </div>
            
            <div id="index_block_privnews">
                <h3>{% trans "Derniers journaux" %}</h3>
                
                <a href="/feeds/latestjournal/" class="next_link">
                    <img src="{{ style }}/img/feed.png" alt="{% trans "Flux RSS" %}" />
                </a>
                
                <ul>
                    {% for news in latest_journals %}
                        <li>
                            <a 
                                href="news-2-{{ news.id }}-1-{{ news.title|slugify }}.html" 
                                title="{{ news.date_published|format_date:request }}">
                                    {{ news.title }}
                            </a>
                            {% trans "par" %}
                            <a href="news-1-1-0-{{ news.author_id }}.html">
                                {{ news.author.uname }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            
             <div id="index_block_packages">
                <h3>{% trans "Derniers paquets" %}</h3>
                
                <a href="/feeds/latestpackages/" class="next_link">
                    <img src="{{ style }}/img/feed.png" alt="{% trans "Flux RSS" %}" />
                </a>
                
                <ul>
                    {% for package in latest_packages %}
                        <li>
                            <a
                                href="packages-4-{{ package.id }}.html"
                                title="{{ package.date|format_date:request|capfirst }}">
                                    {{ package.name }}-{{ package.version }} ({{ package.arch.name }})
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                
                <a href="packages-1.html" class="next_link">
                    <img src="{{ style }}/img/next.png" alt="{% trans "Plus..." %}" />
                </a>
            </div>
            
            <div id="index_block_stats">
                <h3>{% trans "Statistiques" %}</h3>
                
                <ul>
                    <li>
                        <strong>{% trans "Utilisateurs enregistrés" %} :</strong>
                        {{ stats.users }}
                    </li>
                    <li>
                        <strong>{% trans "Dernier membre enregistré" %} :</strong>
                        {{ stats.last_user|color_pseudo }}
                    </li>
                    <li>
                        <strong>{% trans "Nombre de demandes" %} :</strong>
                        {% blocktrans with stats.open_demands as open and stats.demands as demands %}
                            {{ open }} ouvertes (sur {{ demands }})
                        {% endblocktrans %}
                    </li>
                    <li>
                        <strong>{% trans "Statistiques du forum" %} :</strong>
                        {% blocktrans with stats.forums as forums and stats.topics as topics and stats.messages as messages %}
                            {{ forums }} forums, {{ topics }} topics et {{ messages }} messages
                        {% endblocktrans %}
                    </li>
                    {% comment %}<li>
                        <strong>{% trans "Utilisateurs de Logram dans le monde" %} :</strong>
                        11 243
                    </li>{% endcomment %}
                    <li>
                        <strong>{% trans "Nombre de paquets dans la distribution" %} :</strong>
                        {{ stats.packages }}
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
    
    {% if perms.news.change_news or perms.forum.view_alerts %}
        <hr style="clear: both;" />
        
        <div id="index_blocks">
            {% if perms.news.change_news %}
                <div id="index_blocks_left">
                    <div id="index_block_newstovalidate">
                        <h3>{% trans "Nouvelles en attente de validation" %}</h3>
                        
                        <ul>
                            {% for news in latest_validate_news %}
                                <li>
                                    <a 
                                        href="news-2-{{ news.id }}-1-{{ news.title|slugify }}.html" 
                                        title="{% blocktrans with news.author.uname as uname and news.date_published|format_date:request as dt %}par {{ uname }} {{ dt }}{% endblocktrans %}">
                                            {{ news.title }}
                                    </a>
                                    <div class="index_block_header">
                                        {{ news.intro }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            
            {% if perms.forum.view_alerts %}
                <div id="index_blocks_right">
                    <div id="index_block_alerts">
                        <h3>{% trans "Alertes aux modérateurs" %}</h3>
                        
                        <ul>
                            {% for alert in moderator_alerts %}
                                <li>
                                    {% if alert.topic %}
                                        <a href="{{ alert.topic|topic_url }}">
                                                {{ alert.topic.title }}
                                        </a>
                                        ({{ alert.author|color_pseudo }}, 
                                         <a href="forum-14-{{ alert.id }}.html">Supprimer</a>)
                                    {% else %}
                                        <a href="pastebin-3-{{ alert.paste.uniqid }}.html">
                                                {{ alert.paste.title }}
                                        </a>
                                        ({{ alert.author|color_pseudo }}, 
                                        <a href="pastebin-8-{{ alert.id }}.html">Supprimer</a>)
                                    {% endif %}
                                    <div class="index_block_header">
                                        {{ alert.comment }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
    
    <div style="clear: both;"></div>
{% endblock %}
