{% extends "pastebin/base.html" %}
{% load i18n %}

{% block title %}{% trans "Alerter les modérateurs" %}{% endblock %}

{% block body %}
    <h1>{% trans "Alerter les modérateurs" %}</h1>
    
    {% blocktrans %}
        <p>
            Votre identifiant sera enregistré avec l'alerte. Les modérateurs sauront qui les a appelés,
            et pourront vous remercier. <strong>En aucun cas votre identité sera communiquée lors du passage
            des modérateurs</strong>,
            les membres fautifs ne sauront pas vous faire de représailles. Alertez donc tranquille.
        </p>
        
        <p>
            En plus de l'alerte, nous vous demandons de fournir un commentaire, qui permet aux modérateurs
            de savoir qui a commis une faute, de quel genre, et où la trouver. Si vous avez un message,
            ou le motif pour lequel vous souhaitez ne plus voir ce paste, merci de nous le signaler.
        </p>
    {% endblocktrans %}
    
    <form action="pastebin-7-{{ uniqid }}.html" method="post">{% csrf_token %}
        <fieldset>
            <legend>{% trans "Commentaire" %}</legend>
            
            <p>
                <ul class="form_ul">
                    {{ form.as_ul }}
                </ul>
            </p>
            
            <p style="text-align: center;">
                <input type="submit" value="{% trans "Alerter les modérateurs" %}" />
            </p>
        </fieldset>
    </form>
{% endblock %}