{% extends "websvn/base.html" %}
{% load i18n %}
{% load general_tags %}

{% block title %}
    {{ path }} - {% trans "WebSVN" %}
{% endblock %}

{% block FAriane %}{{ block.super }}
    {% for part in pathparts %}
        &raquo;
        {% if not forloop.last %}
            <a href="websvn-1.html?p={{ part.path }}">
                {{ part.text }}
            </a>
        {% else %}
            {% blocktrans with part.text as file %}
                Historique de {{ file }}
            {% endblocktrans %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block body %}
    <h1>{{ path }} - {% trans "WebSVN" %}</h1>

    {% for l in log %}
        <p>
            {% if is_file %}
                <a href="websvn-2.html?p={{ path }}&amp;r={{ l.revision.number }}">
                    r{{ l.revision.number }}
                </a>
            {% else %}
                <a href="websvn-1.html?p={{ path }}&amp;r={{ l.revision.number }}">
                    r{{ l.revision.number }}
                </a>
            {% endif %}
            {% trans "par" %} {{ l.author }} {{ l.date|format_date }}
        </p>
        <div class="websvn_log_message">
            {{ l.message|lcode }}
        </div>
    {% endfor %}
{% endblock %}