{% extends "demands/base.html" %}
{% load i18n %}
{% load general_tags %}

{% block title %}
    {% if child_type == 1 %}
        {% trans "Ajouter une sous-demande" %}
    {% else %}
        {% trans "Ajouter une demande liée" %}
    {% endif %}
{% endblock %}


{% block FAriane %}{{ block.super }} &raquo; 
    {% if child_type == 1 %}
        {% trans "Ajouter une sous-demande" %}
    {% else %}
        {% trans "Ajouter une demande liée" %}
    {% endif %}
{% endblock %}


{% block body %}
    <h1>
        {% if child_type == 1 %}
            {% trans "Ajouter une sous-demande" %}
        {% else %}
            {% trans "Ajouter une demande liée" %}
        {% endif %}
    </h1>

    {% if child_type == 1 %}
        {% blocktrans with demand.title as d %}
            <p>
                Voici le formulaire qui vous permet d'ajouter une sous-demande à la demande «{{ d }}».
            </p>

            <p>
                Une sous-demande est une demande qui doit être réalisée pour que sa demande parente
                («{{ d }}» ici) soit réalisée. Une demande peut avoir plusieurs sous-demandes, et une sous-
                demande peut avoir plusieurs demandes parentes.
            </p>

            <p>
                Proposer une liste des sous-demandes ici serait impossible. En effet, toutes réunies, les
                demandes sont très nombreuses. C'est donc directement l'<em>identificateur</em> qui est
                demandé. Pour l'obtenir, allez sur la page qui affiche la demande souhaitée, et regardez son
                url. Elle est de la forme «demand-5-<strong>identificateur</strong>-page.html». Vous avez
                l'identificateur !
            </p>
        {% endblocktrans %}
    {% else %}
        {% blocktrans with demand.title as d %}
            <p>
                Voici le formulaire qui vous permet d'ajouter une demand liée à la demande «{{ d }}».
            </p>

            <p>
                Une demande est une demande en rapport avec une autre demande («{{ d }}» ici).
                Une demande peut avoir plusieurs demandes liées, qui ont elle-même des demandes liées, etc.
                La liaison se fait dans les deux sens. Si la demande A est liée à la demande B, B apparaîtra
                comme étant également liée à A.
            </p>

            <p>
                Proposer une liste des sous-demandes ici serait impossible. En effet, toutes réunies, les
                demandes sont très nombreuses. C'est donc directement l'<em>identificateur</em> qui est
                demandé. Pour l'obtenir, allez sur la page qui affiche la demande souhaitée, et regardez son
                url. Elle est de la forme «demand-5-<strong>identificateur</strong>-page.html». Vous avez
                l'identificateur !
            </p>
        {% endblocktrans %}
    {% endif %}

    <form action="demand-8-{{ child_type }}-{{ demand_id }}.html" method="post">{% csrf_token %}
        <fieldset>
            <legend>{% trans "Ajouter une demande" %}</legend>

            <p>
                <ul class="form_ul">
                    <li>
                        <label for="did">{% trans "ID de la demande" %} :</label>
                        #<input type="text" name="did" id="did" />
                    </li>
                </ul>
            </p>

            <p style="text-align: center;">
                <input type="submit" />
            </p>
        </fieldset>
    </form>

{% endblock %}