{% extends "demands/base.html" %}
{% load i18n %}

{% block title %}
    {% if demand %}
        {% trans "Changer le produit ou la plateforme d'une demande" %}
    {% else %}
        {% trans "Nouvelle demande, étape 1" %}
    {% endif %}
{% endblock %}

{% block FAriane %}{{ block.super }} &raquo;
    {% if demand %}
        <a href="demand-2-0-0-{{ demand.product_id }}-update-1.html">{% trans demand.product.title %}</a> &raquo;
        <a href="demand-2-{{ demand.type_id }}-0-{{ demand.product_id }}-update-1.html">{% trans demand.type.name %}</a> &raquo;
        <a href="demand-4-{{ demand.id }}-1.html">{{ demand.title }}</a> &raquo;
        {% trans "Changer le produit ou la plateforme" %}
    {% else %}
        {% trans "Nouvelle demande, étape 1" %}
    {% endif %}
{% endblock %}

{% block body %}
    <h1>
        {% if demand %}
            {% trans "Changer le produit ou la plateforme d'une demande" %}
        {% else %}
            {% trans "Nouvelle demande, étape 1" %}
        {% endif %}
    </h1>
    
    <form action="demand-14-{{ demand_id }}-{{ component_id}}.html" method="post">{% csrf_token %}
        <fieldset>
            <legend>{% trans "Produit et version" %}</legend>
            
            <p>
                <ul class="form_ul">
                    <li>
                        <label for="type_id">{% trans "Type de demande :" %}</label>
                        <select name="type_id" id="type_id">
                            {% for t in types %}
                                <option value="{{ t.id }}" {%if t.id == type_id %}selected="selected"{% endif %}>
                                    {% trans t.name %}
                                </option>
                            {% endfor %}
                        </select>
                        <br />
                        <span class="forum_subtitle">{% trans "Choisissez ici le type de votre demande, par exemple un bug, une proposition d'idée, etc" %}</span>
                    </li>
                    <li>
                        <label for="product_id">{% trans "Produit :" %}</label>
                        <select name="product_id" id="product_id">
                            {% for p in products %}
                                <option value="{{ p.id }}" {%if p.id == product_id %}selected="selected"{% endif %}>
                                    {% trans p.title %}
                                </option>
                            {% endfor %}
                        </select>
                        <br />
                        <span class="forum_subtitle">{% trans "Sélectionnez ici le nom du composant de Logram sujet à la demande. Vous pourrez sélectionner un composant de ce produit à la page suivante, pour affiner votre sélection" %}</span>
                    </li>
                    <li>
                        <label for="platform_id">{% trans "Plateforme :" %}</label>
                        <select name="platform_id" id="platform_id">
                            {% for p in platforms %}
                                <option value="{{ p.id }}" {% if p.id == demand.platform_id %}selected="selected"{% endif %}>
                                    {{ p.name }}
                                </option>
                            {% endfor %}
                        </select>
                        <br />
                        <span class="forum_subtitle">{% trans "La plateforme est le système d'exploitation que vous utilisez, avec éventuellement sa variante. Vous renseignerez sa version à l'étape suivante." %}</span>
                    </li>
                </ul>
            </p>
            
            <p style="text-align: center;">
                <input type="submit" value="{% trans "Étape suivante" %}" />
            </p>
        </fieldset>
    </form>
{% endblock %}