{% extends "demands/base.html" %}
{% load i18n %}
{% load general_tags %}

{% block title %}
    {% if action == 3 %}
        {% trans "Éditer une demande" %}
    {% else %}
        {% trans "Nouvelle demande" %}
    {% endif %}
{% endblock %}

{% block FAriane %}{{ block.super }} &raquo;
    {% if action == 3 %}
        {% trans "Éditer une demande" %}
    {% else %}
        {% trans "Nouvelle demande" %}
    {% endif %}
{% endblock %}

{% block body %}
    <h1>
        {% if action == 3 %}
            {% trans "Éditer une demande" %}
        {% else %}
            {% trans "Nouvelle demande" %} ({% trans type.name %})
        {% endif %}
    </h1>

    <p>
        {% if action != 3 %}
            {% blocktrans %}
                Voici la page qui vous permet de poster une nouvelle demande. N'oubliez
                pas de renseigner dans le corps de la demande le plus d'informations
                possibles, et avec le plus de précision.
                L'équipe de Logram vous remercie pour votre participation.
            {% endblocktrans %}
        {% else %}
            {% blocktrans with demand.title as d %}
                Voici la page d'édition de la demande «{{ d }}». Vous pouvez ici
                changer différents aspects de cette demande.
            {% endblocktrans %}
        {% endif %}
    </p>

    {% if action != 3 %}
        <p>
            {% with type.header|lcode as h %}
                {% trans h %}
            {% endwith %}
        </p>
    {% endif %}

    <form action="demand-2-{{ action }}-{{ type_or_demand_id }}.html" method="post">{% csrf_token %}
        <fieldset>
            <legend>
                {% if action != 3 %}
                    {% trans type.name %}
                {% else %}
                    {% trans "Édition d'une demande" %}
                {% endif %}
            </legend>

            <p>
                <ul class="form_ul">
                    <li>
                        <label for="title">{% trans "Titre" %} :</label>
                        <input type="text" name="title" id="title" value="{{ demand.title }}" />
                    </li>
                    <li>
                        <label for="category">{% trans "Catégorie" %} :</label>
                        <select name="category" id="category">
                            {% for cat in categories %}
                                <option value="{{ cat.id }}"
                                    {% if cat.id == demand.category_id %}
                                        selected="selected"
                                    {% endif %}>
                                        {% trans cat.name %} - {% trans cat.description %}
                                </option>
                            {% endfor %}
                        </select>
                    </li>
                    {% if perms.demands.change_demand %}
                        <li>
                            <label for="priority">{% trans "Priorité" %} :</label>
                            <select name="priority" id="priority">
                                {% for p in priorities %}
                                    <option value="{{ p.id }}"
                                        {% if p.id == demand.priority_id %}
                                            selected="selected"
                                        {% endif %}>
                                            {% trans p.name %} - {% trans p.description %}
                                    </option>
                                {% endfor %}
                            </select>
                        </li>
                        <li>
                            <label for="status">{% trans "Statut" %} :</label>
                            <select name="status" id="status">
                                {% for s in status %}
                                    <option value="{{ s.id }}"
                                        {% if s.id == demand.status_id %}
                                            selected="selected"
                                        {% endif %}>
                                            {% trans s.name %}
                                    </option>
                                {% endfor %}
                            </select>
                        </li>
                        <li>
                            <label for="target_version">{% trans "Version cible" %} :</label>
                            <select name="target_version" id="target_version">
                                {% for v in versions %}
                                    <option value="{{ v.id }}"
                                        {% if v.id == demand.target_version_id %}
                                            selected="selected"
                                        {% endif %}>
                                            Logram {{ v.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </li>
                    {% endif %}
                    {% if can_set_done %}
                        <li>
                            <label for="done">{% trans "% d'avancement" %} :</label>
                            <input type="text" name="done" id="done" value="{{ demand.done }}" />
                            {% trans "pris en compte uniquement si la demande n'a pas de sous-demandes" %}
                        </li>
                    {% endif %}
                    {% if action == 2 %}
                        <li>
                            <label for="url">{% trans "Pièce jointe" %} :</label>
                            <input type="text" name="url" id="url" value="{{ demand.url }}" />
                            {% if upl %}
                                <a href="{{ upl }}">{% trans "Envoyer un fichier" %}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </p>

            {% with demand.body as body %}
                {% include "global/lform.html" %}
            {% endwith %}
        </fieldset>
    </form>
{% endblock %}
