{% extends "demands/base.html" %}
{% load i18n %}
{% load general_tags %}

{% block title %}{% trans "Gérer les assignations" %}{% endblock %}

{% block FAriane %}{{ block.super }} &raquo;
    <a href="demand-2-0-0-{{ demand.product_id }}-update-1.html">{% trans demand.product.title %}</a> &raquo;
    <a href="demand-2-{{ demand.type_id }}-0-{{ demand.product_id }}-update-1.html">{% trans demand.type.name %}</a> &raquo;
    <a href="demand-4-{{ demand.id }}-1.html">{{ demand.title }}</a> &raquo;
    {% trans "Gérer les assignations" %}
{% endblock %}

{% block body %}
    <h1>{% trans "Gérer les assignations" %}</h1>
    
    <p>
        {% blocktrans with demand.title as demand %}
            Cette page vous permet de gérer les assignations à «{{ demand }}». Vous pouvez supprimer en supprimer, ou ajouter des membres inscrits, adresses e-mails ou URLs comme assignés à cette demande. Assigner une URL permet de faire le lien entre le système de demandes de Logram et le bugtracker d'un autre projet.
        {% endblocktrans %}
    </p>
    
    <form action="demand-9-{{ demand.id }}.html" method="post">{% csrf_token %}
        <fieldset>
            <legend>{% trans "Assignés" %}</legend>
            
            <ul>
                <li>
                    {% trans "Sélectionnez les assignations à supprimer" %}
                    
                    <ul>
                        {% for a in assignees %}
                            <li>
                                <input type="checkbox" name="assignee[{{ a.id }}]" />
                                {% if a.type == 0 %}
                                    {{ a.user|color_pseudo }}
                                {% else %}
                                    {% if a.type == 1 %}
                                        {{ a.value|obfuscate }}
                                    {% else %}
                                        <a href="{{ a.value }}">{{ a.value }}</a>
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <label for="newassignee">{% trans "Ajouter une assignation :" %}</label>
                    <select name="newassigneetype">
                        <option value="user">{% trans "Utilisateur inscrit" %}</option>
                        <option value="email">{% trans "Adresse e-mail" %}</option>
                        <option value="url">{% trans "URL" %}</option>
                    </select>
                    <input type="text" name="newassignee" id="newassignee" />
                    <br />
                    <em>{% trans "Pour un utilisateur, entrez son pseudo. Laissez vide pour ne rien ajouter" %}</em>
                </li>
            </ul>
            
            <p style="text-align: center;">
                <input type="submit" />
            </p>
        </fieldset>
    </form>
{% endblock %}