{% extends "demands/base.html" %}
{% load i18n %}
{% load general_tags %}

{% block title %}
    {% if product %}
        {% trans product.title %}
    {% else %}
        {% trans type.name %}
    {% endif %}
{% endblock %}

{% block FAriane %}{{ block.super }} &raquo;
    {% if product %}
        {% trans product.title %}
    {% else %}
        {% trans type.name %}
    {% endif %}
{% endblock %}

{% block body %}
    <h1>
        {% if product %}
            {% trans product.title %}
        {% else %}
            {% trans type.name %}
        {% endif %}
    </h1>

    {% if product %}
        <p>
            {% blocktrans with product.title|translate as product %}
                Cette page est le centre de la gestion du projet «{{ product }}». Elle vous permet de filtrer ses bugs ou d'en ajouter directement de nouveaux.
            {% endblocktrans %}
        </p>
        
        <p>
            {{ product.description|translate|lcode }}
        </p>
        
        <h2>{% trans "Composants de ce produit" %}</h2>
        
        <dl>
            {% for component in product.component_set.all %}
                <dt><strong>{{ component.name }}</strong> (<a href="demand-10-0-{{ product.id }}-{{ component.id }}.html">{% trans "Soumettre une demande" %}</a>)</dt>
                <dd>{{ component.description|translate|lcode }}</dd>
            {% endfor %}
        </dl>
        
        <h2>{% trans "Liste des demandes" %}</h2>
    {% else %}
        <p style="overflow: hidden;">
            <img src="/files/{{ type.icon }}" alt="{% trans type.name %}" style="float: left;" />
            {% blocktrans with type.name|translate as type %}
                Voici la liste des demandes du type <strong>{{ type }}</strong>. Des filtres et options de tri sont à votre disposition pour affiner votre recherche.
            {% endblocktrans %}
        </p>
    {% endif %}

    <div id="forum_tools">
        <form action="demand-3.html" method="post">{% csrf_token %}
            <input type="hidden" name="product" value="{{ product_id }}" />
            <input type="hidden" name="page" value="{{ page }}" />
        
            <label for="type"><strong>{% trans "Type :" %}</strong></label>
            <select name="type" id="type">
                {% for t in types %}
                    <option value="{{ t.id }}" {% if t.id == type_id %}selected="selected"{% endif %}>{% trans t.name %}</option>
                {% endfor %}
            </select>
            
            <label for="status"><strong>{% trans "Status :" %}</strong></label>
            <select name="status" id="status">
                <option value="0">{% trans "Ne pas filtrer" %}</option>
                {% for s in status %}
                    <option value="{{ s.id }}" {% if s.id == status_id %}selected="selected"{% endif %}>{% trans s.name %}</option>
                {% endfor %}
            </select>
            
            <label for="order"><strong>{% trans "Trier par :" %}</strong></label>
            <select name="order" id="order">
                <option value="update" selected="selected">{% trans "Dernière modification" %}</option>
                <option value="date">{% trans "Date de création" %}</option>
                <option value="title">{% trans "Titre" %}</option>
                <option value="done">{% trans "Pourcentage effectué" %}</option>
                <option value="status">{% trans "Status" %}</option>
                <option value="priority">{% trans "Priorité" %}</option>
                <option value="author">{% trans "Auteur" %}</option>
                <option value="productversion">{% trans "Produit » Version" %}</option>
                <option value="productcomponent">{% trans "Produit » Composant" %}</option>
                <option value="platform">{% trans "Plateforme" %}</option>
                <option value="type">{% trans "Type" %}</option>
            </select>
            
            <input type="checkbox" name="desc" checked="true" />
            <label for="desc">{% trans "Descendant" %}</label>
            
            <input type="submit" />
        </form>
    </div>

    <style type="text/css">
        .demand_tbl tr th {
            background-color: #{{ type.lightcolor }} !important;
        }

        .demand_tbl, .demand_tbl td, .demand_tbl th {
            border-color: #{{ type.color }} !important;
        }
    </style>
    
    <table class="demand_tbl" style="text-align: center;">
        <tr>
            <th>{% trans "Auteur" %}</th>
            <th>{% trans "Titre" %}</th>
            {% if product %}
                <th>{% trans "Type" %}</th>
            {% else %}
                <th>{% trans "Produit" %}</th>
            {% endif %}
            <th>{% trans "Status" %}</th>
            <th>{% trans "Priorité" %}</th>
        </tr>
        {% for demand in demands %}
            <tr style="background-color: rgb({{ demand.priority.red }}, 128, {{ demand.priority.blue }});">
                <td>
                    {{ demand.reporter|color_pseudo }}
                </td>
                <td>
                    {% if demand.status.closed %}
                        <del>
                    {% endif %}
                    <a href="demand-4-{{ demand.id }}-1.html"
                       title="{% blocktrans with demand.created_at|format_date:request as created and demand.updated_at|format_date:request as updated %}Créée {{ created }}, mise à jour {{ updated }}{% endblocktrans %}">
                        {{ demand.title }}
                    </a>
                    {% if demand.status.closed %}
                        </del>
                    {% endif %}
                </td>
                <td>
                    {% if product %}
                        <a href="demand-2-{{ demand.type.id }}-{{ status_id }}-0{{ sort }}-{{ page }}.html">
                            {% trans demand.type.name %}
                        </a>
                    {% else %}
                        <a href="demand-2-0-{{ status_id }}-{{ demand.product.id }}{{ sort }}-{{ page }}.html"
                           title="{% blocktrans with demand.component.name as component and demand.product_version.name as version %}Composant {{ component }}, à la version {{ version }}{% endblocktrans %}">
                            {{ demand.product.title }}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% trans demand.status.name %}
                </td>
                <td style="color: rgb({{ demand.priority.red }}, 0, {{ demand.priority.blue }});">
                    {% trans demand.priority.name %}
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <div class="pagination">
        {% for pg in list_pages %}
            <a href="demand-2-{{ type_id }}-{{ status_id }}-{{ product_id }}{{ sort }}-{{ pg }}.html">{{ pg }}</a>
        {% endfor %}
    </div>
{% endblock %}
