Bonjour,

Une nouvelle demande vient d'être créée et vous faites partie de ses assignés par défaut. Il se peut également que le «produit» de la demande ait été changé et que vous faites partie des nouveaux assignés par défaut.

----
Titre : {{ demand.title }}
Produit : {{ product.title }}

{{ demand.content }}

----

Vous pouvez consulter les informations supplémentaires de cette demande à l'adresse http://www.logram-project.org/demand-4-{{ demand.id }}-1.html . Merci de ne pas répondre à ce mail, vous ne recevrez aucune réponse.

En vous souhaitant une agréable journée et une éventuelle bonne visite sur le site,
L'équipe de développement de Logram.

PS: Vous avez reçu ce mail parce que vous faites partie des personnes assignées par défaut à toute demande concernant le produit «{{ product.title }}». Contactez l'équipe de Logram (message sur le forum, ou un mail à steckdenis@logram-project.org ) si vous ne voulez plus faire partie des assignés par défaut pour ce produit.