{% extends "demands/base.html" %}
{% load i18n %}
{% load general_tags %}

{% block title %}{{ demand.title }}{% endblock %}

{% block FAriane %}{{ block.super }} &raquo;
    <a href="demand-2-0-0-{{ demand.product_id }}-update-1.html">{% trans demand.product.title %}</a> &raquo;
    <a href="demand-2-{{ demand.type_id }}-0-{{ demand.product_id }}-update-1.html">{% trans demand.type.name %}</a> &raquo;
    {{ demand.title }}
{% endblock %}

{% block body %}
    <h1>{{ demand.title }}</h1>
    
    <div id="demand_pane" style="background-color: #{{ demand.type.lightcolor }}; border-color: #{{ demand.type.darkcolor }};">
        <div id="news_infos">
            {{ demand.created_at|format_date }}
            {% trans "par" %} {{ demand.reporter|color_pseudo }},
            <a href="#comments">{% blocktrans with topic.num_posts as posts %}{{ posts }} commentaires{% endblocktrans %}</a>
        </div>
        
        <div id="demand_content_right">
            <ul>
                <li>
                    <strong>{% trans "% Réalisé :" %}</strong>
                    <div class="bar">
                        <div class="bar_bar" style="width: {{ demand.done }}%;">
                            {{ demand.done }}%
                        </div>
                    </div>
                </li>
                <li>
                    <strong>{% trans "Assigné à :" %}</strong>
                    <ul>
                        {% for assignee in assignees %}
                            <li>
                                {% if assignee.type == 0 %}
                                    {{ assignee.user|color_pseudo }}
                                {% else %}
                                    {% if assignee.type == 1 %}
                                        {{ assignee.value|obfuscate }}
                                    {% else %}
                                        <a href="{{ assignee.value }}">{{ assignee.value }}</a>
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                
                {% regroup relations by type_title as type_list %}
                
                {% for type in type_list %}
                    <li>
                        <strong>{{ type.grouper }}</strong>
                        <ul>
                            {% for rel in type.list %}
                                <li>
                                    {% if rel.item.status.closed %}
                                        <del>
                                            <a href="demand-4-{{ rel.item.id }}-1.html">{{ rel.item.title }}</a>
                                        </del>
                                    {% else %}
                                        <a href="demand-4-{{ rel.item.id }}-1.html">{{ rel.item.title }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                {% endfor %}
            </ul>
        </div>
        
        <div id="demand_content_left">
            <ul>
                <li>
                    {% blocktrans with demand.id as id %}
                        Demande n° <strong>{{ id }}</strong>
                    {% endblocktrans %}
                </li>
                <li>
                    <strong>{% trans "Status :" %}</strong> {% trans demand.status.name %}
                </li>
                <li>
                    <strong>{% trans "Priorité :" %}</strong>
                    <span
                        title="{% trans demand.priority.description %}"
                        style="color: rgb({{ demand.priority.red }}, 0, {{ demand.priority.blue }});">
                            {% trans demand.priority.name %}
                    </span>
                </li>
                <li>
                    <strong>{% trans "Produit :" %}</strong>
                    <a href="demand-2-0-0-{{ demand.product_id }}-update-1.html">{% trans demand.product.title %}</a> &raquo;
                    {{ demand.component.name }}
                </li>
                <li>
                    <strong>{% trans "Version :" %}</strong>
                    {{ demand.product_version.name }}
                </li>
                <li>
                    <strong>{% trans "Fixé dans la version :" %}</strong>
                    {% if demand.fixed_in %}
                        {{ demand.fixed_in.name }}
                    {% else %}
                        <em>{% trans "Indéfini" %}</em>
                    {% endif %}
                </li>
                <li>
                    <strong>{% trans "Plateforme :" %}</strong>
                    {{ demand.platform.name }} {{ demand.platform_version.name }}
                </li>
            </ul>
        </div>
        
        <table id="demand_attachments_list">
            <tr>
                <th>{% trans "Auteur" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Type MIME" %}</th>
            </tr>
            {% for a in attachments %}
                <tr>
                    <td>
                        {{ a.author|color_pseudo }}
                    </td>
                    <td>
                        <a href="demand-5-{{ a.id }}.html">{{ a.description }}</a>
                        (<a href="demand-6-{{ a.id }}.html">{% trans "Télécharger" %}</a>)
                    </td>
                    <td style="text-align: center;">
                        {{ a.mimetype }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3" style="text-align: center;">
                    <a href="TODO">{% trans "Ajouter un attachement" %}</a>
                </td>
            </tr>
        </table>
        
        <hr style="clear: right;" />
        
        <div>
            {{ demand.content|lcode }}
        </div>
        
        {% if perms.demands.change_demand %}
            <div style="text-align: right;">
                <a href="TODO">{% trans "Éditer" %}</a>
            </div>
        {% endif %}
    </div>
    
    <div id="comments"></div>
    
    {% include "forum/posts_list.html" %}
{% endblock %}