{% extends "wiki/base.html" %}
{% load i18n %}
{% load general_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block FAriane %}{{ block.super }} &raquo; {{ page.title }} {% endblock %}

{% block body %}
    <h1>{{ page.title }}</h1>
    
    <div id="wiki_links">
        <a href="wiki-4-{{ page.id }}.html">{% trans "Historique" %}</a>
        
        {% if not user.is_anonymous %}
            &bull; <a href="wiki-3-{{ page.id }}-0-{{ page.slug }}.html">{% trans "Éditer" %}</a>
            &bull; <a href="wiki-3-{{ page.id }}-{{ page.identifier }}-{{ page.slug }}.html">{% trans "Traduire" %}</a>
        {% endif %}
        
        {% if perms.wiki.change_page %}
            &bull;
            <a href="wiki-5-{{ page.id }}.html">
                {% if not page.is_protected %}
                    {% trans "Protéger" %}
                {% else %}
                    {% trans "Déprotéger" %}
                {% endif %}
            </a>
        {% endif %}
        
        {% if perms.wiki.private_page %}
            &bull;
            <a href="wiki-6-{{ page.id }}.html">
                {% if not page.is_private %}
                    {% trans "Rendre privée" %}
                {% else %}
                    {% trans "Rendre publique" %}
                {% endif %}
            </a>
        {% endif %}
    </div>
    
    <div id="forum_tools" style="margin-top: 0px;">
        <strong>{% trans "Autres langues" %} :</strong>
        {% for lang in langs %}
            {% if not forloop.first %}
                &bull;
            {% endif %}
            
            {% if lang.lang != page.lang %}
                <a href="wiki-{{ lang.slug }}.{{ lang.lang }}.html">{{ lang.lang }}</a>
            {% else %}
                {{ lang.lang }}
            {% endif %}
        {% endfor %}
    </div>
    
    <div id="wiki_page">
        {{ page.body|lcode }}
    </div>
{% endblock %}
