{% extends "global/base.html" %}
{% load i18n %}

{% block menu %}
    <h2>{% trans "Nouvelles" %}</h2>
    
    <ul>
        <li><a href="news-1-1-0-0.html">{% trans "Liste des nouvelles" %}</a></li>
        {% if user.is_authenticated %}
            <li><a href="news-3.html">{% trans "Mes nouvelles" %}</a></li>
            <li><a href="news-1-1-0-{{ user.get_profile.id }}.html">{% trans "Mes journaux" %}</a></li>
        {% endif %}
    </ul>
    
    <div class="separateur"></div>
{% endblock %}