{% extends "global/base.html" %}
{% load i18n %}

{% block FAriane %}{{ block.super }} &raquo; <a href="user-5.html">{% trans "Mes options" %}</a>{% endblock %}

{% block menu %}
    <h2>{% trans "Mes options" %}</h2>
                        
    <ul>
        <li><a href="user-5.html">{% trans "Accueil des options" %}</a></li>
        <li><a href="user-5-1.html">{% trans "Profil" %}</a></li>
        <li><a href="user-5-2.html">{% trans "Pseudo et e-mail" %}</a></li>
        <li><a href="user-5-3.html">{% trans "Mot de passe" %}</a></li>
        <li><a href="user-5-4.html">{% trans "Design du site" %}</a></li>
    </ul>
    
    <div class="separateur"></div>
{% endblock %}