{% load i18n %}
{% load general_tags %}

{{ profile.quote}}

<br />

{% if profile.website %}
    <a href="{{ profile.website }}">
{% endif %}

{% if profile.avatar %}
    <img src="{{ profile.avatar }}" alt="Avatar" title="{% trans "Site web du membre" %}" />
{% else %}
    {% if profile.website %}
        {% trans "Site web" %}
    {% endif %}
{% endif %}

{% if profile.website %}
    </a>
{% endif %}

{% if profile.website or profile.avatar %}
    <br />
{% endif %}

{% ifnotequal profile.main_group_id 1 %}
    <img 
        src="{{ style }}/img/group_{{ profile.main_group_name|lower }}_{{ LANGUAGE_CODE }}.png"
        alt="{% trans "Groupe :" %} {% trans profile.main_group_name %}" />
{% else %}
    {% trans "Groupe : Membre" %}
{% endifnotequal %}