{% load i18n %}
{% load general_tags %}
    
{% if not user.is_anonymous %}
    <div id="forum_tools">
        <strong>{% trans "Actions :" %}</strong>
        
        {% if topic.author == user.get_profile %}
            {% if topic.p_type == 0 %}
                {% if not topic.resolved %}
                    <a href="forum-11-{{ topic.id }}.html">{% trans "Mon problème est résolu" %}</a>
                {% else %}
                    <a href="forum-11-{{ topic.id }}.html">{% trans "Mon problème n'est plus résolu" %}</a>
                {% endif %}
            {% endif %}
            
            {% if not topic.poll_id and perms.forum.add_poll %}
                <a href="forum-15-{{ topic.id }}.html">
                    {% trans "Ajouter un sondage" %}
                </a>
            {% endif %}
        {% else %}
            {% if perms.forum.poll_on_all_topics and not topic.poll_id %}
                <a href="forum-15-{{ topic.id }}.html">
                    {% trans "Ajouter un sondage" %}
                </a>
            {% endif %}
        {% endif %}
        
        {% if perms.forum.add_alert %}
            <a href="forum-12-{{ topic.id }}.html">{% trans "Avertir les modérateurs" %}</a>
        {% endif %}
        
        {% if perms.forum.change_topic %}
            <form action="forum-13-{{ topic.id }}.html" method="post">{% csrf_token %}
                <strong>{% trans "Modération :" %}</strong>
                
                <select name="action" id="action">
                    <option value="lock">{% trans "Fermer" %}</option>
                    <option value="dlock">{% trans "Rouvrir" %}</option>
                    {% if topic.p_type == 0 %}
                        <option value="solve">{% trans "Résoudre" %}</option>
                        <option value="dsolve">{% trans "Dé-résoudre" %}</option>
                        <option value="stick">{% trans "Mettre en post-it" %}</option>
                        <option value="dstick">{% trans "Dé-postiter" %}</option>
                        <option value="move">{% trans "Déplacer dans ..." %}</option>
                    {% endif %}
                </select>
                
                {% if topic.p_type == 0 %}
                    {% trans "Si déplacement : forum" %}
                    
                    <select name="forum" id="forum">
                        {% for frm in forums %}
                            <option value="{{ frm.id }}">
                                {% trans frm.name %}
                            </option>
                        {% endfor %}
                    </select>
                {% endif %}
                
                <input type="submit" value="OK" />
                
                <a href="/admin/forum/topic/{{ topic.id }}/">{% trans "Avancé" %}</a>
            </form>
        {% endif %}
    </div>
{% endif %}

{% if poll %}
    <div class="forum_poll">
        {% include "forum/viewpoll.html" %}
    </div>
{% endif %}

<table>
    <tr>
        <th style="width: 150px;">{% trans "Auteur" %}</th>
        <th>{% trans "Message" %}</th>
    </tr>
    {% for post in posts %}
        <tr class="forum_post_header">
            <td style="text-align: center;">
                {{ post.author|color_pseudo }}
            </td>
            <td>
                <div style="float: right;">
                    {% if perms.forum.edit_all_posts %}
                        <a href="forum-4-{{ post.id }}.html">{% trans "Éditer" %}</a>
                    {% else %}
                        {% if post.author == user.get_profile %}
                            {% if perms.forum.change_post %}
                                <a href="forum-4-{{ post.id }}.html">{% trans "Éditer" %}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if post.topic.author == user.get_profile %}
                        {% if not post.has_helped %}
                            &bull; <a href="forum-5-{{ post.id }}.html">{% trans "Ce message m'a aidé" %}</a>
                        {% else %}
                            &bull; <a href="forum-5-{{ post.id }}.html">{% trans "Ce message ne m'a pas aidé" %}</a>
                        {% endif %}
                    {% endif %}
                    {% if perms.forum.edit_all_posts %}
                        &bull; <a href="/admin/forum/post/{{ post.id }}/">{% trans "Admin" %}</a>
                    {% endif %}
                </div>
                
                <a href="#r{{ post.id }}" id="r{{ post.id }}">#</a>
                {{ post.date_created|format_date }}
            </td>
        </tr>
        <tr>
            <td style="text-align: center; vertical-align: top;">
                {% with post.author as profile %}
                    {% include "forum/authorpane.html" %}
                {% endwith %}
            </td>
            <td {% if post.has_helped %}class="forum_post_helped"{% endif %} style="vertical-align: top;">
                {% if post.has_helped %}
                    <span class="forum_post_helped_title">{% trans "Ce message a aidé l'auteur du sujet" %}</span>
                {% endif %}
                
                <div class="forum_post_contents">
                    {{ post.contents|lcode }}
                </div>
                
                {% if post.edits %}
                    <h4 class="forum_post_edits">{% trans "Éditions" %}</h4>
                    
                    <ul class="forum_post_edits_ul">
                        {% for edit in post.edits %}
                            <li>{{ edit.date|format_date }} {% trans "par" %} {{ edit.author|color_pseudo }} : {{ edit.comment }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
                {% if post.author.sign %}
                    <div class="forum_post_sign">
                        {{ post.author.sign|lcode }}
                    </div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>


<div class="pagination">
    {% for pg in list_pages %}
        {% if topic.p_type == 0 %}
            <a href="forum-2-{{ topic.id }}-{{ pg }}-{{ topic.title|slugify }}.html">{{ pg }}</a>
        {% else %}{% if topic.p_type == 1 %}
            <a href="news-2-{{ news.id }}-{{ pg }}-{{ news.title|slugify }}.html">{{ pg }}</a>
        {% else %}{% if topic.p_type == 2 %}
            <a href="demand-5-{{ demand.id }}-{{ pg }}.html">{{ pg }}</a>
        {% else %}{% if topic.p_type == 3 %}
            <a href="packages-9-{{ source.id }}-{{ pg }}-{{ list_p }}.html">{{ pg }}</a>
        {% endif %}{% endif %}{% endif %}{% endif %}
    {% endfor %}
</div>

{% if not request.user.is_anonymous %}
    <div id="forum_watch">
        {% if not watch %}
            <img src="{{ style }}/img/bookmark.png" style="vertical-align: middle;">
            <a href="forum-17-{{ topic.id }}.html">
                {% trans "Surveiller" %}
            </a>
        {% else %}
            <img src="{{ style }}/img/debookmark.png" style="vertical-align: middle;">
            <a href="forum-17-{{ topic.id }}.html">
                {% trans "Ne plus surveiller" %}
            </a>
        {% endif %}
    </div>
{% endif %}

{% if not topic.closed and perms.forum.add_post %}
    <form action="forum-3-{{ topic.id }}.html" method="post">{% csrf_token %}
        <fieldset>
            <legend>{% trans "Répondre" %}</legend>
            
            {% include "global/lform.html" %}
        </fieldset>
    </form>
{% endif %}
